# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock". Testing 5/13/2025

# See docs/Config_Reference.md for a description of parameters.
#############################################
##               MCU_INFO                  ##
#############################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_440029000751313332323730-if00
baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Kalico command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 6000
#max_accel_to_decel:7000 # Deprecated
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 4.5
minimum_cruise_ratio: 0.5


##############################################
##          INCLUDE CONFIGURATION           ##
##############################################
[include includes.cfg]


[virtual_sdcard]
path: /home/octo/kane_data/gcodes
on_error_gcode: CANCEL_PRINT
with_subdirs: True
#   Enable scanning of subdirectories for the menu and for the
#   M20 and M23 commands. The default is False.


[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


[exclude_object]
enable_exclude_object: True


[endstop_phase]


[skew_correction]


[save_variables]
filename: ~/kane_data/config/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".
enable_respond: True


[danger_options]
error_on_unused_config_options: True
#   If an unused config option or section should cause an error
#   if False, will warn but allow klipper to still run.
#   The default is True.
allow_plugin_override: True
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
autosave_includes: True
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
#endstop_sample_count: 4
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1
# Logging options:
#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
log_config_file_at_startup: True
#   If the config file should be logged at startup
#   The default is True.
log_bed_mesh_at_startup: True
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
log_shutdown_info: True
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
log_serial_reader_warnings: True
log_startup_info: True
log_webhook_method_register_messages: False

######################################################################
##                       DO NOT EDIT BELOW                          ##
######################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [bltouch]
#*# z_offset = 2.050
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.088242, 0.047929, 0.038320, -0.004180, -0.022461, -0.034102, -0.070430, -0.105117, -0.146758, -0.157461, -0.182071, -0.188399, -0.200821, -0.194727, -0.171758, -0.171446, -0.148946, -0.117930, 0.010976
#*# 	0.098711, 0.046679, 0.056211, 0.004726, -0.015586, -0.036524, -0.056914, -0.072852, -0.111914, -0.127696, -0.155899, -0.155352, -0.158946, -0.168633, -0.143008, -0.132461, -0.104414, -0.079727, 0.047539
#*# 	0.130117, 0.080898, 0.076367, 0.029492, 0.002461, -0.005039, -0.037227, -0.052149, -0.063399, -0.073321, -0.034805, -0.136992, -0.133008, -0.118789, -0.099414, -0.097305, -0.093399, -0.071367, 0.069648
#*# 	0.084336, 0.045039, 0.036445, 0.006836, -0.002852, -0.015117, -0.023477, -0.046211, -0.075977, -0.075117, -0.092930, -0.084492, -0.079883, -0.086680, -0.046133, -0.046758, -0.003711, 0.039883, 0.171445
#*# 	0.131914, 0.088711, 0.077226, 0.043945, 0.018320, 0.007070, -0.019024, -0.035586, -0.036133, -0.033946, -0.033008, -0.052071, -0.049961, -0.032696, -0.015039, -0.027071, 0.007461, 0.036289, 0.173320
#*# 	0.151523, 0.109648, 0.101914, 0.066211, 0.051133, 0.102226, 0.057461, 0.008867, -0.001211, -0.014258, -0.047930, -0.034883, -0.031836, -0.041211, -0.028321, -0.024180, 0.018008, 0.060820, 0.182695
#*# 	0.204414, 0.154883, 0.139336, 0.098945, 0.071054, 0.095351, 0.037226, 0.009101, -0.000821, -0.020821, -0.023008, -0.038477, -0.040352, -0.038242, -0.013086, -0.018633, 0.008008, 0.018320, 0.157695
#*# 	0.173789, 0.123242, 0.119804, 0.088476, 0.068398, 0.068711, 0.057773, 0.047539, 0.015664, 0.024179, 0.001758, 0.027773, -0.002305, -0.013867, 0.023945, -0.001055, 0.034883, 0.066445, 0.185429
#*# 	0.144961, 0.109648, 0.096836, 0.067617, 0.092539, 0.071758, 0.037148, -0.005274, -0.024258, -0.022852, -0.049727, -0.049492, -0.062071, -0.051367, -0.039492, -0.089727, -0.070196, -0.065196, 0.137226
#*# x_count = 19
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 33.959999999999994
#*# max_x = 351.84
#*# min_y = 130.14
#*# max_y = 256.06
#*#
#*# [input_shaper]
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 110/256
#*#
#*# [endstop_phase stepper_x]
#*# trigger_phase = 426/1024
#*#
#*# [endstop_phase stepper_y]
#*# trigger_phase = 400/1024
