# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock". Testing 5/13/2025

# See docs/Config_Reference.md for a description of parameters.
#############################################
##               MCU_INFO                  ##
#############################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_440029000751313332323730-if00
baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Kalico command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 6000
#max_accel_to_decel:7000 # Deprecated
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 4.5
minimum_cruise_ratio: 0.5


##############################################
##          INCLUDE CONFIGURATION           ##
##############################################
[include includes.cfg]


[virtual_sdcard]
path: /home/octo/kane_data/gcodes
on_error_gcode: CANCEL_PRINT
with_subdirs: True
#   Enable scanning of subdirectories for the menu and for the
#   M20 and M23 commands. The default is False.


[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


[exclude_object]
enable_exclude_object: True


[endstop_phase]


[skew_correction]


[save_variables]
filename: ~/kane_data/config/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".
enable_respond: True


[danger_options]
error_on_unused_config_options: True
#   If an unused config option or section should cause an error
#   if False, will warn but allow klipper to still run.
#   The default is True.
allow_plugin_override: True
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
autosave_includes: True
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
#endstop_sample_count: 4
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1
# Logging options:
#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
log_config_file_at_startup: True
#   If the config file should be logged at startup
#   The default is True.
log_bed_mesh_at_startup: True
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
log_shutdown_info: True
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
log_serial_reader_warnings: True
log_startup_info: True
log_webhook_method_register_messages: False

######################################################################
##                       DO NOT EDIT BELOW                          ##
######################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [bltouch]
#*# z_offset = 2.895
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.019875, -0.012921, -0.027218, -0.035421, -0.023234, -0.014328, -0.018703, -0.034953, -0.025812, -0.010968, 0.006688, 0.038641, 0.052235, 0.072391, 0.095516, 0.089579, 0.084735, 0.082625, -0.121906
#*# 	  0.033797, 0.063875, 0.030829, 0.012391, 0.035360, 0.037000, 0.019813, -0.005500, 0.010204, 0.012625, 0.025750, 0.058407, 0.050204, 0.071688, 0.082547, 0.088954, 0.058719, 0.047469, -0.158781
#*# 	  0.065360, 0.065750, 0.026219, 0.003875, 0.023407, 0.026454, 0.012391, -0.011046, -0.009640, -0.013625, -0.002375, 0.016297, 0.010438, 0.043485, 0.039969, 0.043641, 0.009110, 0.010829, -0.162843
#*# 	  0.015360, 0.027235, -0.001593, -0.023703, 0.008954, 0.014735, 0.000516, -0.009953, 0.015204, -0.001046, 0.024813, 0.039188, 0.052079, 0.087860, 0.103329, 0.109032, 0.081454, 0.081063, -0.083000
#*# 	  -0.011437, -0.006046, -0.040109, -0.067765, -0.033000, -0.019015, -0.032843, -0.053234, -0.045500, -0.037531, -0.011984, 0.022391, 0.030672, 0.072235, 0.077157, 0.108485, 0.070829, 0.076922, -0.051203
#*# 	  0.021688, 0.037000, -0.009406, -0.027609, -0.011671, -0.002609, -0.023937, -0.046359, -0.044015, -0.044796, -0.027609, -0.001671, 0.008172, 0.046063, 0.044500, 0.067704, 0.026610, 0.024735, -0.122296
#*# 	  0.050750, 0.035125, -0.004640, -0.035734, -0.026906, -0.029015, -0.055812, -0.082375, -0.090812, -0.094718, -0.088312, -0.059484, -0.054640, -0.036515, -0.031046, -0.029328, -0.062531, -0.057453, -0.195890
#*# 	  -0.018781, 0.004266, -0.034562, -0.063937, -0.060968, -0.059015, -0.092687, -0.114718, -0.115890, -0.116359, -0.100968, -0.085578, -0.060265, -0.031046, -0.021203, -0.024562, -0.045109, -0.049250, -0.174250
#*# 	  -0.083078, -0.088390, -0.123390, -0.154796, -0.151906, -0.149953, -0.168625, -0.190812, -0.195109, -0.192062, -0.174250, -0.153781, -0.128859, -0.103937, -0.091125, -0.087375, -0.099250, -0.085734, -0.186984
#*# x_count = 19
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 29.510000000000005
#*# max_x = 351.89
#*# min_y = 132.25
#*# max_y = 259.05
#*#
#*# [input_shaper]
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 110/256
#*#
#*# [endstop_phase stepper_x]
#*# trigger_phase = 426/1024
#*#
#*# [endstop_phase stepper_y]
#*# trigger_phase = 400/1024
