# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock". Testing 5/13/2025

# See docs/Config_Reference.md for a description of parameters.
#############################################
##               MCU_INFO                  ##
#############################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_440029000751313332323730-if00
baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Kalico command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 6000
#max_accel_to_decel:7000 # Deprecated
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 4.5
minimum_cruise_ratio: 0.5


##############################################
##          INCLUDE CONFIGURATION           ##
##############################################
[include includes.cfg]


[virtual_sdcard]
path: /home/octo/kane_data/gcodes
on_error_gcode: CANCEL_PRINT
with_subdirs: True
#   Enable scanning of subdirectories for the menu and for the
#   M20 and M23 commands. The default is False.


[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


[exclude_object]
enable_exclude_object: True


[endstop_phase]


[skew_correction]


[save_variables]
filename: ~/kane_data/config/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".
enable_respond: True


[danger_options]
error_on_unused_config_options: True
#   If an unused config option or section should cause an error
#   if False, will warn but allow klipper to still run.
#   The default is True.
allow_plugin_override: True
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
autosave_includes: True
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
#endstop_sample_count: 4
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1
# Logging options:
#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
log_config_file_at_startup: True
#   If the config file should be logged at startup
#   The default is True.
log_bed_mesh_at_startup: True
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
log_shutdown_info: True
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
log_serial_reader_warnings: True
log_startup_info: True
log_webhook_method_register_messages: False

######################################################################
##                       DO NOT EDIT BELOW                          ##
######################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [bltouch]
#*# z_offset = 2.905
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.159792, -0.167683, -0.215027, -0.243933, -0.234714, -0.234870, -0.251199, -0.281902, -0.300808, -0.299245, -0.295652, -0.274480, -0.266980, -0.253933, -0.236433, -0.236277, -0.254011, -0.258699, -0.207761
#*# 	  -0.140652, -0.141667, -0.188542, -0.210574, -0.199949, -0.201824, -0.222839, -0.244402, -0.260027, -0.255027, -0.259324, -0.237761, -0.226980, -0.212214, -0.198620, -0.193699, -0.227136, -0.242136, -0.205027
#*# 	  -0.120027, -0.128699, -0.166589, -0.183464, -0.166980, -0.159011, -0.178542, -0.201824, -0.207449, -0.206355, -0.199636, -0.177136, -0.165417, -0.148699, -0.129402, -0.132839, -0.160417, -0.149480, -0.126589
#*# 	  -0.067995, -0.059870, -0.097136, -0.106199, -0.075495, -0.092058, -0.110339, -0.125183, -0.137605, -0.129245, -0.122761, -0.101199, -0.092839, -0.081980, -0.069792, -0.071745, -0.106667, -0.124792, -0.074011
#*# 	  -0.048620, -0.047683, -0.081667, -0.090183, -0.071667, -0.074636, -0.088230, -0.114011, -0.119870, -0.106824, -0.094089, -0.074636, -0.067292, -0.057917, -0.050574, -0.064011, -0.072292, -0.099089, -0.055964
#*# 	  -0.041511, -0.034167, -0.069402, -0.085964, -0.066511, -0.064636, -0.078464, -0.094714, -0.102136, -0.089324, -0.081042, -0.057136, -0.040886, -0.028152, -0.017917, -0.031745, -0.051355, -0.067449, -0.031199
#*# 	  -0.029011, -0.022292, -0.059714, -0.069636, -0.047370, -0.039167, -0.039558, -0.067292, -0.069167, -0.054167, -0.041120, -0.018855, -0.005183, 0.006067, 0.019739, 0.007708, -0.003542, -0.023152, 0.020364
#*# 	  0.002161, 0.009973, -0.029558, -0.036589, -0.010808, 0.000442, -0.010574, -0.025808, -0.032995, -0.015808, -0.000027, 0.022473, 0.038567, 0.057161, 0.072551, 0.059973, 0.048255, 0.030989, 0.071145
#*# 	  0.064270, 0.045755, 0.005051, -0.012292, 0.007317, 0.018176, 0.003333, -0.027605, -0.029558, -0.020261, -0.006980, 0.013801, 0.026692, 0.037005, 0.050051, 0.038098, 0.031067, 0.005208, 0.052551
#*# 	  0.052083, 0.041380, 0.009895, -0.011745, 0.007239, 0.014583, -0.003464, -0.023777, -0.038152, -0.025417, -0.013620, 0.004583, 0.023880, 0.044817, 0.058880, 0.045051, 0.030364, 0.006380, 0.050833
#*# 	  0.149114, 0.136223, 0.081692, 0.050442, 0.064895, 0.055755, 0.033880, 0.006301, -0.018933, -0.016589, -0.016120, 0.014426, -0.005964, 0.013333, 0.018411, 0.002864, -0.012292, -0.045183, 0.001223
#*# 	  0.125989, 0.107708, 0.060833, 0.032942, 0.036380, 0.031380, 0.011458, -0.016355, -0.039402, -0.019402, -0.002370, 0.006614, 0.003880, 0.024036, 0.026067, 0.019973, 0.003958, -0.023074, 0.023489
#*# 	  0.124270, 0.106458, 0.052317, 0.017161, 0.019036, 0.007942, -0.018152, -0.056902, -0.064402, -0.074870, -0.072292, -0.055808, -0.046511, -0.034089, -0.021589, -0.034480, -0.034714, -0.046745, 0.016926
#*# 	  0.110442, 0.086145, 0.038098, 0.002473, -0.003074, -0.019167, -0.057605, -0.090027, -0.105730, -0.106355, -0.106980, -0.092370, -0.078855, -0.064792, -0.049714, -0.056667, -0.059480, -0.069792, -0.013464
#*# 	  0.150989, 0.117786, 0.058255, 0.014895, 0.000911, -0.023074, -0.063308, -0.103386, -0.125886, -0.128777, -0.130886, -0.120417, -0.116745, -0.109480, -0.101745, -0.113542, -0.109870, -0.123542, -0.065261
#*# 	  0.187786, 0.150286, 0.085286, 0.037708, 0.013176, -0.015105, -0.072214, -0.118855, -0.146980, -0.160730, -0.174480, -0.169636, -0.166902, -0.157292, -0.152292, -0.168777, -0.178308, -0.200574, -0.152995
#*# 	  0.227161, 0.174505, 0.094661, 0.037161, 0.009739, -0.038152, -0.098152, -0.150964, -0.192917, -0.215183, -0.232058, -0.235495, -0.241589, -0.238308, -0.239636, -0.262370, -0.265183, -0.292292, -0.242449
#*# 	  0.242161, 0.193723, 0.110833, 0.047317, 0.009661, -0.033464, -0.091902, -0.144402, -0.188777, -0.211667, -0.231824, -0.236199, -0.237839, -0.234636, -0.229714, -0.246745, -0.257214, -0.278464, -0.235183
#*# x_count = 19
#*# y_count = 18
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 36.19
#*# max_x = 351.91
#*# min_y = 51.89
#*# max_y = 355.34
#*#
#*# [input_shaper]
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 110/256
#*#
#*# [endstop_phase stepper_x]
#*# trigger_phase = 426/1024
#*#
#*# [endstop_phase stepper_y]
#*# trigger_phase = 400/1024
